:root {
  --red-color: #f44336;
  --orange-color: #f59e0b;
  --blue-color: #0075ff;
  --blue-color-alt: #0d69d5;
  --green-color: #22c55e;
  --grey-color: #888;
  --border-color-ccc: #ccc;
  --transition-3ms: 0.3s ;
  }
/* Start Box */
.d-flex {
  display: flex;
}
.align-center {
  align-items: center;
}
.space-between {
  justify-content: space-between;
}
.f-wrap {
  flex-wrap: wrap;
}
.flex-1 {
  flex: 1;
}
.d-grid {
  display: grid;
}
.gap-20 {
  gap: 20px;
}
.d-block {
  display: block;
}
.d-inline-block {
  display: inline-block;
}
@media (max-width:767px) {
  .block-mobile {
    display: block;
  }
}
/* End Box */
/* Start Position */
.p-relative {
  position: relative;
}
.p-absolute {
  position: absolute;
}
/* End Position */
/* Start Padding + Margin */
.p-10 {
  padding: 10px;
}
.p-15 {
  padding: 15px;
}
.p-20 {
  padding: 20px;
}
.pt-10 {
  padding-top: 10px;
}
.pt-15 {
  padding-top: 15px;
}
.pt-20 {
  padding-top: 20px;
}
.pb-10 {
  padding-bottom: 10px;
}
.pb-15 {
  padding-bottom: 15px;
}
.pb-20 {
  padding-bottom: 20px;
}
.pl-15 {
  padding-left: 15px;
}
.m-0 {
  margin: 0;
}
.m-20 {
	margin: 20px;
}
.mt-0 {
	margin-top: 0;
}
.mt-5 {
	margin-top: 5px;
}
.mt-10 {
	margin-top: 10px;
}
.mt-15 {
	margin-top: 15px;
}
.mt-20 {
	margin-top: 20px;
}
.mr-5 {
  margin-right: 5px;
}
.mr-10 {
  margin-right: 10px;
}
.mr-15 {
  margin-right: 15px;
}
.mr-20 {
  margin-right: 20px;
}
.mb-0 {
  margin-bottom: 0;
}
.mb-5 {
  margin-bottom: 5px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-15 {
  margin-bottom: 15px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-25 {
  margin-bottom: 25px;
}
.ml-20 {
  margin-left: 20px;
}
/* End Padding + Margin */
/* Start Border */
.b-none {
  border: none;
}
.b-eee {
  border: 1px solid #eee;
}
.rad-6 {
  border-radius: 6px;
}
.rad-10 {
  border-radius: 10px;
}
.rad-50 {
  border-radius: 50%;
}
/* End Border */
/* Start Fonts */
.txt-c {
  text-align: center;
}
.txt-r {
  text-align: right;
}
.txt-l {
  text-align: left;
}
.fs-13 {
  font-size: 13px;
}
.fs-14 {
  font-size: 14px;
}
.fs-15 {
  font-size: 15px;
}
.fs-16 {
  font-size: 16px;
}
.fs-25 {
  font-size: 25px;
}
.fs-2x {
  font-size: 2em;
}
.fw-bold {
  font-weight: bold;
}
@media (max-width:767px) {
  .txt-c-mobile {
    text-align: center;
  }
}
/* End Fonts */
/* Start Color */
.bg-white {
	background-color: white;
}
.bg-eee {
  background-color: #eee;
}
.bg-blue {
  background-color: var(--blue-color);
}
.bg-yellow {
  background-color: var(--orange-color);
}
.bg-green {
  background-color: var(--green-color);
}
.bg-red{
  background-color: var(--red-color);
}
.c-black {
	color: black;
}
.c-white {
  color: white;
}
.c-blue {
  color: var(--blue-color);
}
.c-yellow {
  color: var(--orange-color);
}
.c-green {
  color: var(--green-color);
}
.c-grey {
  color: var(--grey-color);
}
.c-red {
  color: var(--red-color);
}
/* End Color */
/* Start Media */
@media (max-width:767px) {
	.hide-mobile {
		display: none;
	}
}
/* End Media */
/* Start Width and height */
.w-full {
  width: 100%;
}
.h-full {
  height: 100%;
}
/* Start Width and height */
/* Start Components */
.center-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.between-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn {
  padding: 4px 10px;
  border-radius: 6px;
}
.widget-wrapper {
  border-radius: 10px;
  padding: 20px;
  background-color: white;
}
.h2-shape-setting-page {
  margin-top: 0;
  margin-bottom: 10px;
}
.p-shape-setting-page {
  font-size: 15px;
  color: var(--grey-color);
  margin-top: 0;
  margin-bottom: 20px;
}
/* End Components */